.contact-section {
  @apply bg-primarycharcoalblack overflow-hidden;
  width: 100%;
  position: relative;
}

.form-section {
  @apply bg-primaryblack;
  margin: 0px auto 6rem auto;
  width: 55%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form {
  width: 80%;
}

.form-group {
  @apply my-3;
  width: 100%;
}

.form-group input,
.form-group textarea {
  @apply border-b  border-primarygrey text-primarygrey py-1;
  width: 100%;
  background: none;
  resize: none;
  font-size: 0.8rem;
  border-bottom: 1px dashed #79797a8f;
}

.form-group input:active,
.form-group input:focus,
.form-group textarea:focus,
.form-group textarea:active {
  background: none;
  outline: none;
}

.form-group button {
  @apply text-white;
  width: 100%;
  background: linear-gradient(to right, #e30057, #8826d1);
  padding: 7px 0px;
  font-size: 0.7rem;
  border-radius: 25px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
}

.form-group button:hover,
.form-group button:active {
  box-shadow: -5px 3px 8px rgba(0, 0, 0, 0.6);
}

.form-group label {
  @apply text-white;
  font-size: 0.8rem;
  display: block;
}

.my-email {
  @apply text-white;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 640px) {
  .form-section {
    width: 95%;
  }
}
