.projects-section {
  @apply bg-primarycharcoalblack w-full overflow-hidden border-t border-primarygrey;
  position: relative;
}

.project-section-bg {
  @apply bg-primaryblack;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 19;
}

.project {
  position: relative;
  width: 100%;
  z-index: 20;
  overflow: hidden;
}
.project:hover {
  cursor: crosshair;
}

.project-overlay {
  @apply px-28;
  background: #232427cb;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.project-img {
  @apply py-10;
  width: 50%;
  margin: 0px auto;
}

.project-name {
  @apply text-white;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 45%;
  font-weight: 900;
  font-size: 2rem;
}

.project-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 42%;
}

.project-dots > span:not(:last-child) {
  margin-right: 20px;
}

.project-rounded-graphic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.dot-bg-purple {
  background: linear-gradient(to bottom, #bd0f71, transparent);
}
.dot-bg-orange {
  background: linear-gradient(to bottom, #f8550e, transparent);
}
.dot-bg-green {
  background: linear-gradient(to bottom, #2ff80e, transparent);
}

.project-description {
  position: absolute;
  right: 0%;
  bottom: 30%;
  background: transparent;
  width: 35%;
  overflow: hidden;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.6);
}

.project-description-content {
  @apply bg-primaryblack;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem 5px;
}

.border-left {
  position: absolute;
  top: 30%;
  height: 40%;
  width: 3px;
  left: 0;
}

.project-links {
  position: absolute;
  top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.project-description-text {
  @apply text-white my-8 px-8;
  font-size: 0.8rem;
  z-index: 25;
}

@media (max-width: 640px) {
  .project-img {
    width: 100%;
  }

  .project-name {
    top: 37%;
    left: 30%;
    font-weight: 900;
    font-size: 1.5rem;
  }

  .project-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 30%;
  }

  .project-dots > span:not(:last-child) {
    margin-right: 10px;
  }

  .project-description {
    position: absolute;
    right: 0;
    bottom: -8%;
    background: transparent;
    width: 100%;
  }

  .project-img {
    @apply py-20;
  }
}

.other-projects a {
  @apply bg-primarypurple text-white;
  font-size: 0.7rem;
  background: linear-gradient(to right, #bd0f71, #8826d1);
  text-transform: lowercase;
  padding: 8px 37px;
  border-radius: 100px;
  transition: all 0.3s;
}

.other-projects a:hover,
.other-projects a:active {
  box-shadow: -5px 3px 8px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to right, #8826d1, #bd0f71);
}
