@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "adineue";
  src: url("./assets/fonts/adineue\ PRO.ttf");
}

@font-face {
  font-family: "library3am";
  src: url("./assets/fonts/Library\ 3\ am\ soft.otf");
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply bg-primaryblack;
  font-size: 16px;
  font-family: adineue;
  scroll-behavior: smooth;
}

.container {
  @apply max-w-screen-2xl;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-vertical-left {
  @apply bg-primarygrey;
  position: absolute;
  left: 25%;
  width: 1px;
  height: 100%;
  z-index: 4;
}

.line-vertical-right {
  @apply bg-primarygrey;
  position: absolute;
  right: 25%;
  width: 1px;
  height: 100%;
  z-index: 4;
}

.node-bottom-left {
  @apply bg-white;
  position: absolute;
  left: 24.8%;
  width: 5px;
  height: 4%;
  bottom: 10%;
  border-radius: 10px;
  z-index: 5;
}

.node-top-right {
  @apply bg-white;
  position: absolute;
  right: 24.8%;
  width: 5px;
  height: 4%;
  top: 10%;
  border-radius: 10px;
  z-index: 5;
}

.phone {
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 1);
  border-radius: 25px;
}

.phone-outer-frame {
  height: 440px;
  width: 220px;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 25px;

  position: relative;
  background: rgb(39, 39, 39);
  background: linear-gradient(
    to bottom right,
    rgb(39, 39, 39),
    rgb(26, 25, 25)
  );
}

.phone-left-btn-1 {
  width: 3px;
  height: 20px;
  background: rgb(39, 39, 39);
  position: absolute;
  left: -3px;
  top: 14%;
  border-radius: 30%;
}
.phone-left-btn-2 {
  width: 3px;
  height: 26px;
  background: rgb(39, 39, 39);
  position: absolute;
  left: -3px;
  top: 24%;
  border-radius: 30%;
}
.phone-left-btn-3 {
  width: 3px;
  height: 26px;
  background: rgb(39, 39, 39);
  position: absolute;
  left: -3px;
  top: 32%;
  border-radius: 30%;
}
.phone-right-btn-1 {
  @apply bg-primarypurple;
  width: 3px;
  height: 28px;
  position: absolute;
  right: -3px;
  top: 23%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9);
  border-radius: 30%;
}

.phone-inner-frame {
  height: 420px;
  width: 200px;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 15px;
  margin-left: 9px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  background: rgb(46, 45, 45);
}

.phone-status-bar {
  position: relative;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgb(31, 31, 31);
  background: rgb(46, 45, 45);
}

.phone-camera {
  position: absolute;
  left: 25%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 45%;
  background: rgb(70, 69, 69);
}

.phone-speaker {
  position: absolute;
  width: 35%;
  height: 3px;
  border-radius: 100px;
  background: rgb(70, 69, 69);
  top: 55%;
  left: 35%;
}

.phone-info {
  width: 10%;
  height: 13px;
  border: 1px solid transparent;
  position: absolute;
  left: 4%;
  top: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(70, 69, 69);
}

.phone-battery {
  width: 20%;
  height: 13px;
  border: 1px solid transparent;
  position: absolute;
  left: 77%;
  top: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-percentage {
  font-size: 0.6rem;
  margin-right: 2px;
  color: rgb(70, 69, 69);
}

.phone-bar {
  width: 200px;
  height: 60%;
  background: rgb(70, 69, 69);
}

.phone-mini-bar {
  width: 39px;
  height: 25%;
  background: rgb(70, 69, 69);
}

.phone-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(48, 48, 48);
}

.phone-content > img {
  height: 100%;
  width: 100%;
}

@media (max-width: 640px) {
  .phone {
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 1);
    border-radius: 25px;
  }

  .phone-outer-frame {
    height: 300px;
    width: 150px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 25px;

    position: relative;
    background: rgb(39, 39, 39);
    background: linear-gradient(
      to bottom right,
      rgb(39, 39, 39),
      rgb(26, 25, 25)
    );
  }

  .phone-left-btn-1 {
    width: 3px;
    height: 20px;
    background: rgb(39, 39, 39);
    position: absolute;
    left: -3px;
    top: 14%;
    border-radius: 30%;
  }
  .phone-left-btn-2 {
    width: 3px;
    height: 26px;
    background: rgb(39, 39, 39);
    position: absolute;
    left: -3px;
    top: 24%;
    border-radius: 30%;
  }
  .phone-left-btn-3 {
    width: 3px;
    height: 26px;
    background: rgb(39, 39, 39);
    position: absolute;
    left: -3px;
    top: 32%;
    border-radius: 30%;
  }
  .phone-right-btn-1 {
    @apply bg-primarypurple;
    width: 3px;
    height: 28px;
    position: absolute;
    right: -3px;
    top: 23%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.9);
    border-radius: 30%;
  }

  .phone-inner-frame {
    height: 280px;
    width: 140px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    background: rgb(46, 45, 45);
  }

  .phone-status-bar {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(31, 31, 31);
    background: rgb(46, 45, 45);
  }

  .phone-camera {
    position: absolute;
    left: 25%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 45%;
    background: rgb(70, 69, 69);
  }

  .phone-speaker {
    position: absolute;
    width: 35%;
    height: 3px;
    border-radius: 100px;
    background: rgb(70, 69, 69);
    top: 55%;
    left: 35%;
  }

  .phone-info {
    width: 10%;
    height: 13px;
    border: 1px solid transparent;
    position: absolute;
    left: 4%;
    top: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .phone-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(70, 69, 69);
  }

  .phone-battery {
    width: 20%;
    height: 13px;
    border: 1px solid transparent;
    position: absolute;
    left: 77%;
    top: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .phone-percentage {
    font-size: 0.6rem;
    margin-right: 2px;
    color: rgb(70, 69, 69);
  }

  .phone-bar {
    width: 200px;
    height: 60%;
    background: rgb(70, 69, 69);
  }

  .phone-mini-bar {
    width: 39px;
    height: 25%;
    background: rgb(70, 69, 69);
  }

  .phone-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(48, 48, 48);
  }

  .phone-content > img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
}

.hide {
  display: none;
}

@keyframes slide-in {
  from {
    top: 0;
    left: 0;
  }
  to {
    bottom: 0;
    right: 0;
  }
}

.to-top {
  position: fixed;
  z-index: 80;
  bottom: 8%;
  right: 5%;
  @apply bg-primaryblack w-10 h-10 text-white rounded-full;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.6);
}

.cursor {
  width: 25px;
  height: 25px;
  border: 1px solid #8826d1;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border: 8px solid #8726d17e;
  border-radius: 50%;
  opacity: 0.5;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #bd0f71;
}
