@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "adineue";
  src: url("./assets/fonts/adineue\ PRO.ttf");
}

@font-face {
  font-family: "library3am";
  src: url("./assets/fonts/Library\ 3\ am\ soft.otf");
}

html,
body {
  @apply bg-primarycharcoalblack;
  font-size: 16px;
  font-family: adineue;
}
